{% extends 'base_html.html' %}

{%block content%}
    <section class="hero is-success">
        <div class="hero-body has-text-centered">
        <nav>
            <ul>
                <li style="font-size:50px";>Seasons</li>
                <li><a href="{% url 'logout' %} " class="button is-dark is-pulled-right">Logout</a></li>
            </ul>
        </nav>
                <select onchange="window.location=this.options[this.selectedIndex].value">

  <option value="" selected disabled hidden>Choose here</option>
        {% for year in years%}
            <option  value="http://127.0.0.1:8000/seasons/{{year.0}}">{{year.0}}</option>
        {%endfor%}
    </select>
        </div>
    </section>




<table border="1" style="align:center" class="table is-striped is-fullwidth">
        <tr>
            <th>Team1</th>
            <th>Team2</th>
            <th>Venue</th>
            <th>Toss Decision</th>
            <th>Toss Result</th>
            <th></th>
        </tr>

    {%for s in seasons%}
    <tr>
        <td>{{s.team1}}</td>
        <td>{{s.team2}}</td>
        <td>{{s.venue}}</td>
        <td>{{s.toss_decision}}</td>
        <td>{{s.result}}</td>
        <td><button class="button is-danger" onclick="location.href='{%url 'match_details' s.season s.match_id%}'">Check Details</button></td>
    </tr>

    {%endfor%}
</table>

<div class="pagination has-text-centered">
<center>
    <ul class="step-links" >
        {% if seasons.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ seasons.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current is-center">
            Page {{ seasons.number }} of {{ seasons.paginator.num_pages }}.
        </span>
        {% if seasons.has_next %}
            <a href="?page={{ seasons.next_page_number }}">next</a>
            <a href="?page={{ seasons.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </ul>
</center>
    </div>
{%endblock%}