
{% extends 'base_html.html' %}

{%block content%}

    <form method="post">
        {%csrf_token%}
        <fieldset>
            <h2>Login</h2>
            {{loginform}}
            <input class="button is-primary" type="submit" value="Login">
            <input class="button is-primary" type="submit" onclick="location.href='{%url 'signup'%}'" value="Signup">
        </fieldset>
    </form>

    {% if messages%}
        <ul class="messages">
            {% for message in messages%}
            <li {% if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
            {%endfor%}
        </ul>
    {%endif%}
{%endblock%}